@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer _localizer
@model ShengFengDesign.ViewModels.Album.AlbumItemViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["PageName"] = $"album/{Model.ID}";
    ViewData["h1"] = Model.Title;
    ViewData["writeTime"] = Model.ModifyTimeText;
    ViewData["author"] = Model.Author;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
    $(document).ready(function () {
        $('#slideshow').slick({
            autoplay: true,
            autoplaySpeed: 2000,
            dots: false,
            arrows: false 
        });
    });
</script>

<!-- Hero-area -->
<div class="hero-area section">
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay"
         style="background-image: url(/asserts/images/clints_logo.png)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a asp-controller="Home" asp-action="Index">@_localizer["Home"]</a></li>
                    <li><a asp-controller="Album" asp-action="Index">@_localizer["Album"]</a></></li>
                </ul>
                <h1 class="white-text">@Model.Title</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Hero-area -->

<div id="contact" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- contact form -->
            <!-- 在視圖中顯示輪播效果 -->
            <div class="col-md-6" id="slideshow" style="overflow:hidden">
                @foreach (var image in Model.AlbumList)
                {
                    <img src="@Url.Content(image)" alt="album picture" style="max-width:100%" />
                }
            </div>
            <!-- /contact form -->
            <!-- contact information -->
            <div class="col-md-5 col-md-offset-1">
                <h3 class="lead">@Model.Title</h3>
                <p >@Model.Content</p>
            </div>
            <!-- contact information -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>